torch
torchvision
torchaudio

fastapi
uvicorn
python-multipart
jinja2

opencv-python
pillow
numpy
scikit-image
matplotlib

pycocotools

transformers
huggingface-hub
safetensors

streamlit

scikit-learn

scipy